Rooms List
    <!-- {{roomList}} -->
    <table class="table">
        <tr>
            <td>Room Type</td>
            <td>Amenaties</td>
            <td>Price</td>
            <td>Check In</td>
            <td>check Out</td>
            <td>Select Room</td>
        </tr>
        <tr *ngFor="let room of rooms">
            <td>{{room.roomType}}</td>
            <td>{{room.amenaties | titlecase }}</td>
            <td>{{room.price | currency : 'INR'}}</td>
            <td>{{room.checkInDate | date : "short"}}</td>
            <td>{{room.checkOutDate | date}}</td>
            <td>
                <button class="btn btn-primary" (click)="selectRoom(room)">Select</button>
            </td>
        </tr>
    </table>